# Copy this file to .env and fill in your values

# MongoDB Atlas connection string
MONGO_URL=mongodb+srv://<user>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority

# Backend URL (where FastAPI is running)
BACKEND_URL=http://localhost:8000
